<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About us</title>
    {{!-- using bootstrap online links --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    {{!-- this is a shared header from partials --}}
    {{> header}}
    <div class="container">
        <h1>This is the about page of Techie website</h1>
        <h5>Here is list of our services</h5>
        <ul>
            <li>
                Trouble shooting
            </li>
              <li>
                Repairing laptops and mobiles
            </li>
              <li>
                Installation of cctv
            </li>
            <li>
                Installation of cctv
            </li>
        </ul>
    </div>
    {{!-- this is a shared footer from partials --}}
    <footer>
        {{> footer}}
    </footer>
</body>
</html>