<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact us</title>
    {{!-- using bootstrap online links --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
    {{!-- this is a shared header from partials --}}
    {{> header}}
    <div class="container">
        <h1>This is the contact page of Techie</h1>
        <h5>You can call as: 82388888888</h5>
        <h5>or email as at: techie2020@gmail.com</h5>
    </div>
    {{!-- this is a shared footer from partials --}}
    <footer>
        {{> footer}}
    </footer>
</body>
</html>